body{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#0b0d10;
  min-height: 100vh;
}

button{
  padding: 1em 2em;
  background-color: #161a20;
  border:none;
  color:#f0f0f0;
  border-radius:25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position:relative;
  display:flex;
  justify-content: center;
  align-items:center;

}

button::after{
  content:'';
  position:absolute;
  height:110%;
  width:102%;
  border-radius:25px;
  background-image:linear-gradient(to bottom right, #008cff , #e100ff);
  z-index:-1;
  
}

button:hover{
  z-index:0;
  box-shadow: 40px 0 100px #008cff7a , -40px 0 100px #e100ff7c ;

}